version: '3.8'

services:
  app:
    image: ${DOCKERHUB_USERNAME}/pineus-tilu-app:latest
    container_name: pineus_app
    restart: unless-stopped
    environment:
      APP_ENV=production
      APP_DEBUG=false
      APP_KEY=base64:Muyo4rrh9gh9/VnxjCn3f4sIMMJKa0RKljr+4aMl35I=
      DB_CONNECTION=mysql
      DB_HOST=db
      DB_PORT=3306
      DB_DATABASE=${DB_DATABASE}
      DB_USERNAME=${DB_USERNAME}
      DB_PASSWORD=${DB_PASSWORD}
    volumes:
      - ./storage:/var/www/html/storage
    depends_on:
      - db

  nginx:
    image: nginx:stable
    container_name: pineus_nginx
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./public:/var/www/html/public:ro
    depends_on:
      - app

  db:
    image: mysql:8.0
    container_name: pineus_db
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
