version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: pineus-tilu-ci
    working_dir: /var/www/html
    volumes:
      - ./:/var/www/html
    environment:
      APP_ENV: "testing"
      APP_DEBUG: "true"
      APP_KEY: "base64:Muyo4rrh9gh9/VnxjCn3f4sIMMJKa0RKljr+4aMl35I="
      DB_CONNECTION: "mysql"
      DB_HOST: "db"
      DB_PORT: "3306"
      DB_DATABASE: "pineus_tilu_test"
      DB_USERNAME: "root"
      DB_PASSWORD: "password"
    depends_on:
      db:
        condition: service_healthy

  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: "password"
      MYSQL_DATABASE: "pineus_tilu_test"
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  ci_db_data:
